@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Completely transparent */
}

i {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Completely transparent */
}

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Completely transparent */
}

a:hover {
  transition: color 0.3s;
  color: blueviolet;
}

a:focus {
  outline: none; /* Remove the default focus outline */
  background-color: transparent; /* Ensure no background color */
}

.highlight {
  color: blueviolet;
}

.main-container {
  background: linear-gradient(to right, rgb(36, 13, 57), #000000);
}
/* NAVIGATION SECTION */
.nav-container {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  font-size: 35px;
  font-weight: 500;
}

.nav-right {
  display: flex;
  gap: 3.5rem;
  font-size: 18px;
  font-weight: 500;
}

/* Hamburger menu styles */
.hamburger-menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Side navigation styles */

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: blueviolet;
}

.side-nav-close {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  cursor: pointer;
}

.nav-left-new {
  position: absolute;
  top: 15px;
  left: 20px;
  color: white;
}

.nav-left-new a {
  padding: 0;
  font-size: 35px;
  font-weight: 500;
}

.nav-left-new a:hover {
  color: blueviolet;
}
@media screen and (max-width: 700px) {
  .nav-right {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}

/* PROFILE SECTION */
.my-profile {
  margin: 80px 20px 20px 20px;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-profile-greet {
  font-size: 1.25rem;
  font-weight: 400;
}

.my-profile-intro {
  font-weight: 700;
  font-size: 2.5rem;
  color: blueviolet;
}

.my-profile-description {
  margin: 20px 0 50px 0;
  font-weight: 350;
  font-size: 1rem;
}

.resume-btn a {
  display: inline-block;
  border: 1px solid white;
  border-radius: 50px;
  padding: 8px 18px;
  transition: border-color 0.2s, box-shadow 0.2s, color 0.2s;
}

.resume-btn a:hover {
  border-color: blueviolet;
  box-shadow: 1.5px 1.5px 1.5px rgba(137, 43, 226, 0.5);
  color: blueviolet;
}

.profile-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-right img {
  border: 1px solid blueviolet;
  border-radius: 300px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

/* VIEW MY WORK BUTTON */
.view-my-work-btn {
  margin-left: 50px;
}

.view-my-work-btn a {
  display: inline-block;
  border: 1px solid white;
  border-radius: 50px;
  padding: 8px 18px;
  transition: border-color 0.3s, box-shadow 0.3s, color 0.3s;
}

.view-my-work-btn a:hover {
  transition: all 0.3s;
  border-color: blueviolet;
  box-shadow: 1.5px 1.5px 1.5px rgba(137, 43, 226, 0.5);
  color: blueviolet;
}

@media screen and (max-width: 700px) {
  .nav-container {
    height: 10vh;
  }

  .my-profile {
    flex-direction: column-reverse;
    align-items: center;
    height: 80vh;
    margin: 0;
  }

  .profile-left {
    width: 95%;
    align-items: center;
    margin: 10px 0;
  }

  .my-profile-description {
    margin: 20px 0 40px 0;
    text-align: justify;
    padding: 0 10px;
  }

  .profile-right img {
    width: 180px;
    height: 180px;
    border-radius: 180%;
  }

  .view-my-work-btn {
    margin-left: 6px;
    height: 10vh;
  }
}

/* MY WORK SECTION */
.my-work-container {
  margin: 40px 120px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.work-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.work-card-left {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.work-card-left h2 a {
  font-size: 2rem;
  font-weight: 400;
}

.work-card-left p {
  font-size: 1rem;
  font-weight: 300;
}

.card-skills-btn {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.card-skills-btn div {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  background-color: #2c2b33;
  padding: 2px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: border-color 0.2s;
}

.card-skills-btn div:hover {
  border-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.work-card-right img {
  height: 300px;
  border: 1px solid white;
  object-fit: cover;
}

@media screen and (max-width: 700px) {
  .my-work-container {
    margin: 20px;
  }

  .work-card {
    flex-direction: column-reverse;
  }

  .work-card-left {
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .card-skills-btn {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

/* ABOUT SECTION */

.about-section {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container {
  margin: 20px auto;
  width: 50%;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  line-height: 1.8;
  gap: 20px;
}

.about-container h1 {
  font-weight: 500;
  font-size: 40px;
  color: blueviolet;
  margin-bottom: 40px;
}

.about-container h2 {
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
  color: white;
}

.about-container p {
  font-weight: 300;
  font-size: 18px;
  color: white;
}

.about-circular-image {
  position: absolute;
  top: 300px;
  right: 100px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  box-shadow: rgba(137, 43, 226, 0.4) -5px 5px,
    rgba(137, 43, 226, 0.3) -10px 10px, rgba(137, 43, 226, 0.2) -15px 15px,
    rgba(137, 43, 226, 0.1) -20px 20px, rgba(137, 43, 226, 0.05) -25px 25px;
}

.about-circular-image img {
  border: 1px solid white;
  border-radius: 50%;
  width: 200px;
}

@media screen and (max-width: 700px) {
  .about-section {
    margin: 20px 15px;
  }

  .about-container {
    margin: 0;
    width: 90%;
  }

  .about-circular-image {
    display: none;
  }
}

/* PROJECT SECTION */

.project-section {
  margin: 80px 20px;
  margin-bottom: 0;
  padding-bottom: 40px;
  text-align: center;
}

.project-section h1 {
  text-align: left;
  font-size: 40px;
  font-weight: 500;
  color: blueviolet;
  margin-bottom: 40px;
}

.project-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.project-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.project-card.reverse {
  flex-direction: row-reverse;
}

.project-image {
  position: relative;
  width: 95%;
  height: 300px;
  border: 1px solid #3c3c3c;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid white;
  border-radius: 10px;
}

.project-image .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.project-image .overlay div {
  font-size: 18px;
  font-weight: 400;
}

.project-image:hover .overlay {
  opacity: 1;
}

.overlay .text {
  color: white;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-details {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-details h2 {
  font-size: 2rem;
  font-weight: 500;
  color: white;
}

.project-details h2:hover {
  transition: color 0.1s;
  color: blueviolet;
  cursor: pointer;
}

.project-details p {
  text-align: left;
  font-size: 15px;
  font-weight: 300;
  color: white;
}

.project-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.project-skills span {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  background-color: #2c2b33;
  padding: 2px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: border-color 0.2s;
}

.project-skills span:hover {
  border-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.project-demo {
  margin-top: 20px;
  font-size: 14px;
  color: blueviolet;
  transition: color 0.3s;
}

.project-demo:hover {
  color: white;
  text-decoration: underline;
}

@media screen and (max-width: 700px) {
  .project-container {
    width: 100%;
  }

  .project-card {
    flex-direction: column;

    border: 2px dotted rgba(137, 43, 226, 0.5);
    border-radius: 12px;
    padding: 10px;
  }

  .project-card.reverse {
    flex-direction: column;
  }

  .project-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

/* SKILL SECTION */
.skill-section {
  margin: 80px 20px;
  text-align: center;
}

.skill-section h1 {
  font-size: 40px;
  font-weight: 500;
  color: blueviolet;
  margin-bottom: 40px;
}

.skill-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.skill-card {
  background-color: #1e1e1e;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.skill-card:hover {
  transition: all 0.3s;
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.skill-icon {
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
}

.skill-details h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: white;
}

.skill-details h2:hover {
  transition: all 0.3s;
  color: blueviolet;
  cursor: pointer;
}

.skill-details p {
  font-size: 1rem;
  font-weight: 300;
  color: #cccccc;
}

/* CONTACT SECTION */
.contact-section {
  margin: 80px 20px;
}

.contact-section h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: blueviolet;
  margin-bottom: 40px;
  margin-left: 150px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.contact-form {
  background-color: #1a1a1a;
  padding: 30px;
  border-radius: 15px;
  width: 40%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.199);
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: white;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 20px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #333;
  color: white;
}

.contact-form button {
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.contact-form button:hover {
  background-color: rgba(137, 43, 226, 0.615);
  transform: scale(1.02);
}

.contact-details {
  width: 30%;
  text-align: left;
}

.contact-details h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: white;
}

.contact-details p {
  margin-bottom: 20px;
  font-size: 1rem;
  color: #cccccc;
}

.social-links a {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: white;
  background-color: #1a1a1a;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

@media screen and (max-width: 700px) {
  .contact-section {
    margin: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-section h1 {
    font-size: 2rem;
    margin: 2rem 0;
  }

  .contact-container {
    flex-direction: column;
  }

  .contact-form {
    width: 100%;
  }

  .contact-details {
    width: 100%;
  }

  .social-links a {
    margin-bottom: 16px;
  }
}

.social-links a:hover {
  color: white;
  background-color: rgba(137, 43, 226, 0.875);
}

/* FOOTER SECTION */
.footer-container {
  background-color: #161616;
  padding: 0 100px;
}

.footer-section {
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  font-weight: 250;
}

.footer-section span {
  font-size: 18px;
  font-weight: 200;
}

.footer-section a {
  text-decoration: none;
}

.footer-section a:hover {
  transition: color 0.2s;
  color: blueviolet;
}

@media screen and (max-width: 700px) {
  .footer-container {
    padding: 0;
    width: 100vw;
  }

  .footer-section {
    flex-direction: column;
    justify-content: space-around;
  }
}
